# Exploratory data analysis

In [1]:
from pathlib import Path
import sys

parent = Path().absolute().parents[0].as_posix()

sys.path.insert(0, parent)

import pandas as pd

In [2]:
data_raw = pd.read_csv('../data/scraping_data_v2.csv.gz', compression='gzip')
data_cleaned = pd.read_csv('../data/processed/docs_cleaned_w_categories.csv.gz', compression='gzip')
publico_articles = pd.read_csv('../data/processed/publico_docs_cleaned_w_keywords.csv.gz', compression='gzip')
data_political_parties = pd.read_csv('../data/scraping_political_parties.csv.gz', compression='gzip')

## Raw data Arquivo

In [3]:
data_raw.source.value_counts()

observador.pt          147591
expresso.pt             13059
publico.pt              11833
jn.pt                    5814
jornaldenegocios.pt         2
Name: source, dtype: int64

In [4]:
data_raw[data_raw.year >= 2014].source.value_counts()

observador.pt    147591
expresso.pt       13037
publico.pt         6054
jn.pt              5678
Name: source, dtype: int64

In [5]:
data_raw[(data_raw.source == 'expresso.pt') & (data_raw.year == 2014)].head()

,city,title,content,year,tstamp,link,source
1404,Lisboa,301 Moved Permanently,301 Moved Permanently Moved Permanently The do...,2014,20141004011519,https://arquivo.pt/wayback/20141004011519/http...,expresso.pt
1405,Lisboa,301 Moved Permanently,301 Moved Permanently Moved Permanently The do...,2014,20141003170733,https://arquivo.pt/wayback/20141003170733/http...,expresso.pt
1406,Lisboa,301 Moved Permanently,301 Moved Permanently Moved Permanently The do...,2014,20141016071819,https://arquivo.pt/wayback/20141016071819/http...,expresso.pt
1407,Lisboa,301 Moved Permanently,301 Moved Permanently Moved Permanently The do...,2014,20141016071101,https://arquivo.pt/wayback/20141016071101/http...,expresso.pt
1408,Lisboa,301 Moved Permanently,301 Moved Permanently Moved Permanently The do...,2014,20141016064106,https://arquivo.pt/wayback/20141016064106/http...,expresso.pt

In [6]:
data_raw[(data_raw.source == 'publico.pt') & (data_raw.year == 2014)].head()

,city,title,content,year,tstamp,link,source
1424,Lisboa,Nascer em Lisboa sem nunca lá ter posto os pés...,Nascer em Lisboa sem nunca lá ter posto os pés...,2014,20140730184745,https://arquivo.pt/wayback/20140730184745/http...,publico.pt
1425,Lisboa,Sete milhões de euros para recuperar o pavimen...,Sete milhões de euros para recuperar o pavimen...,2014,20141021075713,https://arquivo.pt/wayback/20141021075713/http...,publico.pt
1426,Lisboa,Reforma da rede hospitalar só prevê fechos em ...,Reforma da rede hospitalar só prevê fechos em ...,2014,20140529050439,https://arquivo.pt/wayback/20140529050439/http...,publico.pt
1427,Lisboa,Universidade de Lisboa encerra uma das cantina...,Universidade de Lisboa encerra uma das cantina...,2014,20140928155740,https://arquivo.pt/wayback/20140928155740/http...,publico.pt
1428,Lisboa,"Oceanário de Lisboa vai ter novo edifício ""tra...","Oceanário de Lisboa vai ter novo edifício ""tra...",2014,20140516081533,https://arquivo.pt/wayback/20140516081533/http...,publico.pt

In [7]:
data_raw[(data_raw.source == 'jn.pt') & (data_raw.year == 2014)].head()

,city,title,content,year,tstamp,link,source
1706,Lisboa,30% DESCONTO. City Sightseeing Lisboa | 2 Pax ...,30% DESCONTO. City Sightseeing Lisboa | 2 Pax ...,2014,20140429193209,https://arquivo.pt/wayback/20140429193209/http...,jn.pt
1707,Lisboa,47% DESCONTO. Real Madrid Camisola Oficial | F...,47% DESCONTO. Real Madrid Camisola Oficial | F...,2014,20140510182802,https://arquivo.pt/wayback/20140510182802/http...,jn.pt
1708,Lisboa,50% DESCONTO. Réveillon na Madeira | Lisboa Fu...,50% DESCONTO. Réveillon na Madeira | Lisboa Fu...,2014,20141025184017,https://arquivo.pt/wayback/20141025184017/http...,jn.pt
1709,Lisboa,33% DESCONTO. Lisboa | Oceanário + 1 Noite no ...,33% DESCONTO. Lisboa | Oceanário + 1 Noite no ...,2014,20140726182103,https://arquivo.pt/wayback/20140726182103/http...,jn.pt
1710,Lisboa,13% DESCONTO. Madeira | Hotel Madeira Panorâmi...,13% DESCONTO. Madeira | Hotel Madeira Panorâmi...,2014,20140430185823,https://arquivo.pt/wayback/20140430185823/http...,jn.pt

## Processed data Arquivo

In [8]:
data_cleaned.head(10)

,city,title,content,year,tstamp,link,source,link_len,check,content_p,title_p,category
0,Lisboa,"Oceanário de Lisboa vai ter novo edifício ""tra...","Oceanário de Lisboa vai ter novo edifício ""tra...",2014,20140516081533,https://arquivo.pt/wayback/20140516081533/http...,publico.pt,157,True,oceanario lisboa novo edificio tranquilo anon...,oceanario lisboa novo edificio tranquilo anon...,Economia
1,Lisboa,Câmara de Loures paga mais do dobro do que Lis...,Câmara de Loures paga mais do dobro do que Lis...,2014,20141023080605,https://arquivo.pt/wayback/20141023080605/http...,publico.pt,155,True,camara loures paga dobro lisboa refeicoes esco...,camara loures paga dobro lisboa refeicoes esco...,Politica
2,Lisboa,Deputado Bacelar Gouveia candidata-se à presid...,Deputado Bacelar Gouveia candidata-se à presid...,2014,20141021142620,https://arquivo.pt/wayback/20141021142620/http...,publico.pt,165,True,deputado bacelar gouveia candidatase presidenc...,deputado bacelar gouveia candidatase presidenc...,Politica
3,Lisboa,“Darth Vaders” do blogue 31 da Armada hasteara...,“Darth Vaders” do blogue 31 da Armada hasteara...,2014,20141021111635,https://arquivo.pt/wayback/20141021111635/http...,publico.pt,172,True,darth vaders blogue armada hastearam bandeira...,darth vaders blogue armada hastearam bandeira...,Politica
4,Lisboa,Ordem quer que CML esclareça ranking de arquit...,Ordem quer que CML esclareça ranking de arquit...,2014,20141021180751,https://arquivo.pt/wayback/20141021180751/http...,publico.pt,162,True,ordem quer cml esclareca ranking arquitectos a...,ordem quer cml esclareca ranking arquitectos a...,Justica
5,Lisboa,"Sá Carneiro: ""Não foi a figura pacificadora em...","Sá Carneiro: ""Não foi a figura pacificadora em...",2014,20141013195500,https://arquivo.pt/wayback/20141013195500/http...,publico.pt,154,True,sa carneiro figura pacificadora tentam transf...,sa carneiro figura pacificadora tentam transf...,Politica
6,Lisboa,"Mães sem dinheiro dão leite de vaca a bebés, c...","Mães sem dinheiro dão leite de vaca a bebés, c...",2014,20141021131026,https://arquivo.pt/wayback/20141021131026/http...,publico.pt,151,True,maes dinheiro dao leite vaca bebes riscos saud...,maes dinheiro dao leite vaca bebes riscos saud...,Saude
7,Lisboa,Tribunal de Ourique condena Armando Vara por o...,Tribunal de Ourique condena Armando Vara por o...,2014,20140917032636,https://arquivo.pt/wayback/20140917032636/http...,publico.pt,164,True,tribunal ourique condena armando vara ofensas ...,tribunal ourique condena armando vara ofensas ...,Politica
8,Lisboa,Utilizador - Login - PÚBLICO,Utilizador - Login - PÚBLICO Saltar para a nav...,2014,20141013171705,https://arquivo.pt/wayback/20141013171705/http...,publico.pt,200,True,utilizador login publico saltar navegacao prin...,utilizador login publico,Economia
9,Lisboa,Série Mar Português: Pode Portugal ser um imen...,Série Mar Português: Pode Portugal ser um imen...,2014,20141021142646,https://arquivo.pt/wayback/20141021142646/http...,publico.pt,156,True,mar portugues pode portugal imenso pais surf ...,mar portugues pode portugal imenso pais surf ...,Economia

In [9]:
data_cleaned.source.value_counts()

observador.pt    47262
expresso.pt       7136
publico.pt         522
jn.pt               70
Name: source, dtype: int64

In [10]:
data_cleaned.year.value_counts()

2019    15815
2020    14968
2018     9325
2017     5490
2016     3526
2021     2962
2015     2029
2014      875
Name: year, dtype: int64

In [11]:
data_cleaned.city.value_counts()

Lisboa              5693
Porto               5385
Braga               3943
Guarda              3828
Coimbra             3761
Setúbal             3584
Leiria              3226
Évora               3212
Aveiro              2843
Viseu               2783
Bragança            2586
Beja                2507
Santarém            2478
Faro                2471
Viana do Castelo    1807
Vila Real           1702
Portalegre          1666
Castelo Branco      1515
Name: city, dtype: int64

## Público data

In [17]:
publico_articles['source'] = ['publico.pt'] * len(publico_articles)

In [18]:
publico_articles.head(10)

,city,main_tag,tag,title,sub_title,body,year,category,body_p,keywords,source
0,Lisboa,ciencia,HISTÓRIA,A quinta avenida do século XVI ficava em Lisboa,Dois quadros descobertos em 2009 originaram um...,"No século XVI, a Rua Nova dos Mercadores era u...",2015.0,Ciencia,seculo xvi rua nova mercadores pequena babel. ...,"['Rua', 'Lisboa', 'Annemarie Jordan', 'Jordan ...",publico.pt
1,Lisboa,politica,ANTÓNIO COSTA,Costa deixa Câmara de Lisboa para se concentra...,"A cinco meses das eleições legislativas, o sec...",Costa fará uma declaração esta quarta-feira po...,2015.0,Politica,costa fara declaracao quartafeira volta meiodi...,"['António Costa', 'Lisboa', 'Fernando Medina',...",publico.pt
2,Lisboa,economia,PRIVATIZAÇÕES,Sociedade Francisco Manuel dos Santos fica com...,Governo concessiona equipamento no Parque das ...,"A concessão do equipamento, um dos mais visita...",2015.0,Economia,concessao equipamento visitados cidade lisboa ...,"['milhões', 'vencedor fica', 'euros', 'Lisboa'...",publico.pt
3,Lisboa,politica,PROVA DOS FACTOS,A dívida da Câmara de Lisboa foi paga pelo Gov...,"Na questão das contas da câmara, tanto Passos ...",A frase\n\nO contexto\nCosta afirmou ter reduz...,2015.0,Politica,frase contexto costa afirmou reduzido divida c...,"['dívida', 'António Costa', 'Câmara', 'milhões...",publico.pt
4,Lisboa,ciencia,HISTÓRIA,A quinta avenida do século XVI ficava em Lisboa,Dois quadros descobertos em 2009 originaram um...,"No século XVI, a Rua Nova dos Mercadores era u...",2015.0,Ciencia,seculo xvi rua nova mercadores pequena babel. ...,"['Rua', 'Lisboa', 'Annemarie Jordan', 'Jordan ...",publico.pt
5,Lisboa,economia,PRIVATIZAÇÕES,Sociedade Francisco Manuel dos Santos fica com...,Governo concessiona equipamento no Parque das ...,"A concessão do equipamento, um dos mais visita...",2015.0,Economia,concessao equipamento visitados cidade lisboa ...,"['milhões', 'vencedor fica', 'euros', 'Parque'...",publico.pt
6,Lisboa,politica,PROVA DOS FACTOS,A dívida da Câmara de Lisboa foi paga pelo Gov...,"Na questão das contas da câmara, tanto Passos ...",A frase\n\nO contexto\nCosta afirmou ter reduz...,2015.0,Politica,frase contexto costa afirmou reduzido divida c...,"['dívida', 'António Costa', 'Câmara', 'milhões...",publico.pt
7,Lisboa,ecosfera,LISBOA,Lisboa é das cidades europeias menos empenhada...,"Zurique, Copenhaga e Viena ocupam o pódio do r...","A lista, elaborada pelas organizações não-gove...",2015.0,Ambiente,lista elaborada organizacoes naogovernamentais...,"['Secretariado Europeu', 'não-governamentais A...",publico.pt
8,Lisboa,ecosfera,LISBOA,Lisboa é das cidades europeias menos empenhada...,"Zurique, Copenhaga e Viena ocupam o pódio do r...","A lista, elaborada pelas organizações não-gove...",2015.0,Ambiente,lista elaborada organizacoes naogovernamentais...,"['Secretariado Europeu', 'não-governamentais A...",publico.pt
9,Lisboa,culturaipsilon,Cultura-Ípsilon,Uma rapariga africana em Lisboa,ENTREVISTA LIVROS,"Estreia literária que resiste a catalogações, ...",2015.0,Cultura,estreia literaria resiste catalogacoes misto r...,"['Djaimilia', 'Cabelo', 'livro', 'Djaimilia Pe...",publico.pt

## Political parties data

In [12]:
data_political_parties.head()

,year,city,political_party,votes,year_bucket,total_votes,%
0,2022,Açores,Partido Socialista,36025.0,[2022],78980.0,45.612813
1,2022,Açores,Aliança Democrática,28520.0,[2022],78980.0,36.110408
2,2022,Açores,CHEGA,4986.0,[2022],78980.0,6.312991
3,2022,Açores,Bloco de Esquerda,3589.0,[2022],78980.0,4.544188
4,2022,Açores,Iniciativa Liberal,3454.0,[2022],78980.0,4.373259

In [13]:
data_political_parties[(data_political_parties.city == 'Lisboa') & (data_political_parties.year==2015)]

,year,city,political_party,votes,year_bucket,total_votes,%
395,2015,Lisboa,Portugal à Frente,399520.0,"[2015, 2016, 2017, 2018]",1062209.0,37.612184
396,2015,Lisboa,Partido Socialista,386534.0,"[2015, 2016, 2017, 2018]",1062209.0,36.389637
397,2015,Lisboa,Bloco de Esquerda,125438.0,"[2015, 2016, 2017, 2018]",1062209.0,11.809164
398,2015,Lisboa,Coligação Democrática Unitária,113406.0,"[2015, 2016, 2017, 2018]",1062209.0,10.676430
399,2015,Lisboa,Pessoas-Animais-Natureza,22628.0,"[2015, 2016, 2017, 2018]",1062209.0,2.130278
400,2015,Lisboa,LIVRE/Tempo de Avançar,14683.0,"[2015, 2016, 2017, 2018]",1062209.0,1.382308

In [14]:
data_political_parties.year.value_counts()

2022    174
2019    161
2015    131
2011    131
2009    123
2005    114
2002    112
1995     96
Name: year, dtype: int64

## Data Grouping

In [21]:
all_sources = pd.concat(
    [
        data_cleaned[['city', 'year', 'title', 'category', 'source']], 
        publico_articles[['city', 'year', 'title', 'category', 'source']]
    ]
)
all_sources.shape

(61817, 5)

In [23]:
all_sources.head(10)

,city,year,title,category,source
0,Lisboa,2014.0,"Oceanário de Lisboa vai ter novo edifício ""tra...",Economia,publico.pt
1,Lisboa,2014.0,Câmara de Loures paga mais do dobro do que Lis...,Politica,publico.pt
2,Lisboa,2014.0,Deputado Bacelar Gouveia candidata-se à presid...,Politica,publico.pt
3,Lisboa,2014.0,“Darth Vaders” do blogue 31 da Armada hasteara...,Politica,publico.pt
4,Lisboa,2014.0,Ordem quer que CML esclareça ranking de arquit...,Justica,publico.pt
5,Lisboa,2014.0,"Sá Carneiro: ""Não foi a figura pacificadora em...",Politica,publico.pt
6,Lisboa,2014.0,"Mães sem dinheiro dão leite de vaca a bebés, c...",Saude,publico.pt
7,Lisboa,2014.0,Tribunal de Ourique condena Armando Vara por o...,Politica,publico.pt
8,Lisboa,2014.0,Utilizador - Login - PÚBLICO,Economia,publico.pt
9,Lisboa,2014.0,Série Mar Português: Pode Portugal ser um imen...,Economia,publico.pt

## Statistics for Streamlit App

In [25]:
articles_general = all_sources.groupby(['city','year']).size().reset_index(name='N')
subset_categories = all_sources.groupby(['city', 'category' ,'year']).size().reset_index(name='N')
subset_articles_general = all_sources.groupby(['city', 'source','year']).size().reset_index(name='N')
subset_articles_general_by_category = all_sources.groupby(['city', 'source', 'category','year']).size().reset_index(name='N')

articles_general.to_csv('../data/dashboard/articles_general.csv', index=False)
subset_categories.to_csv('../data/dashboard/subset_categories.csv', index=False)
subset_articles_general.to_csv('../data/dashboard/subset_articles_general.csv', index=False)
subset_articles_general_by_category.to_csv('../data/dashboard/subset_articles_categories.csv', index=False)

In [26]:
articles_general.head(10)

     city    year    N
0  Aveiro  2014.0   14
1  Aveiro  2015.0  102
2  Aveiro  2016.0  188
3  Aveiro  2017.0  402
4  Aveiro  2018.0  493
5  Aveiro  2019.0  877
6  Aveiro  2020.0  912
7  Aveiro  2021.0  184
8  Aveiro  2022.0   31
9    Beja  2014.0   30

In [27]:
subset_categories.head(10)

     city   category    year   N
0  Aveiro  Acidentes  2015.0   1
1  Aveiro  Acidentes  2016.0   3
2  Aveiro  Acidentes  2017.0   1
3  Aveiro  Acidentes  2018.0   4
4  Aveiro  Acidentes  2019.0   8
5  Aveiro  Acidentes  2020.0   2
6  Aveiro   Ambiente  2015.0   2
7  Aveiro   Ambiente  2016.0   8
8  Aveiro   Ambiente  2017.0   5
9  Aveiro   Ambiente  2018.0  33

In [28]:
subset_articles_general.head(10)

     city         source    year    N
0  Aveiro    expresso.pt  2019.0  130
1  Aveiro    expresso.pt  2020.0  177
2  Aveiro    expresso.pt  2021.0   27
3  Aveiro          jn.pt  2014.0    4
4  Aveiro  observador.pt  2014.0    9
5  Aveiro  observador.pt  2015.0   72
6  Aveiro  observador.pt  2016.0  152
7  Aveiro  observador.pt  2017.0  369
8  Aveiro  observador.pt  2018.0  435
9  Aveiro  observador.pt  2019.0  681

In [29]:
subset_articles_general_by_category.head(10)

     city       source   category    year   N
0  Aveiro  expresso.pt  Acidentes  2019.0   4
1  Aveiro  expresso.pt   Ambiente  2019.0  17
2  Aveiro  expresso.pt   Ambiente  2020.0  13
3  Aveiro  expresso.pt   Ambiente  2021.0   4
4  Aveiro  expresso.pt    Ciencia  2019.0   7
5  Aveiro  expresso.pt    Ciencia  2020.0   6
6  Aveiro  expresso.pt    Ciencia  2021.0   2
7  Aveiro  expresso.pt      Crime  2019.0   4
8  Aveiro  expresso.pt      Crime  2020.0   9
9  Aveiro  expresso.pt    Cultura  2019.0   7